@import '../../../../styles.scss';

.acr_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 101;
    padding: 10px 0;


    .acr_modal_content {
        margin: 40vh auto;
        max-width: 300px;
        background-color: #fff;

        padding: 20px;

        border-radius: 10px;
        box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
            100px 100px 80px rgba(0, 0, 0, 0.05);
            animation: pulse .3s  ease;


        .acr_modal_header {
            border-bottom: solid 1px #bbb8b8;
        }

        .acr_modal_icon {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            padding-bottom: 5px;
            height: 35px;

            span {
                svg {
                    font-size:$fs-md;
                }
            }
        }

        .tit {
            font-size: 20px;
        }

        #close-modal {
            float: right;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        img {
            width: 30px;
        }

        ;
    }
}

.acr_modal_body {
    margin-top: 5px;

    #messa {
        font-size: $fs-base;
        margin: 15px 0;
        text-align: left;
        line-height: 18px;
    }
}

.acr_modal_boton-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.acr_modal_boton {
    display: flex;
    justify-content: flex-end;
}

.css-button-shadow-border--red {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: var(--primary-color-neutro);
}
  .css-button-shadow-border--red:hover {
    background-color: #f14054;
  }
  .css-button-shadow-border--red:active {
    top: 2px;
  }

  .acr_loader {
    text-align: center;
  }


@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.flash {
    animation: flash 500ms ease infinite alternate;
  }
  @keyframes flash {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  .pulse {
    animation: pulse 1s  ease-in-out alternate;

  }
  @keyframes pulse {
    from { transform: scale(.98); -webkit-transform: scale(.98); -moz-transform: scale(.98); -ms-transform: scale(.98); -o-transform: scale(.98); }
    to { transform: scale(1.03); -webkit-transform: scale(1.03); -moz-transform: scale(1.03); -ms-transform: scale(1.03); -o-transform: scale(1.03); }
  }

