@import '../../../../styles.scss';

.acr_title{
  font-size: $fs-base;
  color: var(--color-text);
  font-weight: 600;
}

.acr_subtitle{
  font-size: $fs-xs;
  color: var(--color-text);
  font-weight: 400;
}

.acr_link{
  cursor: pointer;
  text-decoration: underline;
}
