@import '../../../../styles.scss';

.acr_cont {
  width: 100%;
  display: grid;
  grid-template-areas:
    "div-1 div-1"
    "div-2 div-3"
    "div-4 div-4";
  grid-template-columns: .4fr .6fr;
  grid-template-rows: 150px auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div-1 {
  grid-area: div-1;
}

.div-2 {
  grid-area: div-2;
}

.div-3 {
  grid-area: div-3;
}

.div-4 {
  grid-area: div-4;
}

.acr_welcome {
  height: 150px;
  display: flex;
  padding: 20px 30px;
  background-color: var(--fondo-welcome);
  border-radius: 10px;

  .acr_welcome_body {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .acr_welcome_img {
    width: 40%;
    background-image: url(https://s3.amazonaws.com/statics.addi.com/ui-storybook/banner-cupo-desktop.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: revert;
  }
}

.acr_cupo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0px 20px;

  .acr_cupo_body {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .acr_cupo_footer {
    padding: 10px 0 30px 0;
    border-top: 1px solid var(--border-color);
  }
}

.acr_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--sidebar-color-fondo);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.0392156863), 0 0 4px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  padding: 25px 25px 35px 25px;
  overflow-x: auto;

}

.acr_menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;

  thead {
    th {
      text-align: left;
      border-bottom: 1px solid var(--border-color);
    }
  }

  tbody {
    td {
      border-bottom: 1px solid var(--border-color);
      font-weight: normal;
      line-height: 20px;
      width: 100%;

      &:nth-child(2) {
        text-align: right;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  td,
  th {
    padding: 10px 10px;
    color: var(--color-text);
    font-size: $fs-xs;

    span {
      margin-right: 15px;
    }
  }

  td{
    white-space: nowrap;

  }
}


@media (max-width: 1024px) {
  .acr_cont {
    grid-template-areas:
      "div-1 div-1"
      "div-2 div-2"
      "div-3 div-3"
      "div-4 div-4";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .acr_welcome {
    .acr_welcome_body {
      width: 100%;
    }

    .acr_welcome_img {
      display: none;
    }
  }

  .acr_details {
    padding: 15px;
  }

  table {
    td,
    th {
      padding: 10px 5px;
    }

  }

}
